﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    
    <script src="~/Scripts/vendor/modernizr.js"></script>
    <link href="~/Content/foundation.css" rel="stylesheet" />
</head>
<body>



    
    <script src="~/Scripts/vendor/jquery.js"></script>
    <script src="~/Scripts/foundation.min.js"></script>
    <script src="~/Scripts/foundation/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>

    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
