﻿
<div class="row">
    <div class="large-12 columns">
        <h1>MIRANDA SEND SPACE</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Envia se arquivo agora! </h3>
            <p>Só envie se for Rock</p>
            <p>Quem ganha com esse projeto? Só eu!</p>


            <form action="api/uploadfile/" method="post" enctype="multipart/form-data">
                <div class="row">
                    <input type="file" name="myfile[]" multiple><br>
                    <input type="submit" value="Upload File to Server">
                </div>
            </form>

            <div class="progress">
                <div class="bar"></div>
                <div class="percent">0%</div>
            </div>

            <div id="status"></div>

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
            <script src="http://malsup.github.com/jquery.form.js"></script>

            <script>
                (function () {

                    var bar = $('.bar');
                    var percent = $('.percent');
                    var status = $('#status');

                    $('form').ajaxForm({
                        beforeSend: function () {
                            status.empty();
                            var percentVal = '0%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                            var percentVal = percentComplete + '%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                            //console.log(percentVal, position, total);
                        },
                        success: function () {
                            var percentVal = '100%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        complete: function (xhr) {
                            status.html(xhr.responseText);
                        }
                    });

                })();
            </script>
            <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
            <script type="text/javascript">
                _uacct = "UA-850242-2";
                urchinTracker();
            </script>

            
        </div>
    </div>

</div>